body {
         margin: auto;
         max-width:900px;
        
         }
.sidebar {
  grid-area: sidebar;
}
.content {
  grid-area: content;
  position: relative;
 
}

.header {
  grid-area: header;
  
}

.footer {
  grid-area: footer;
}
.wrapper {
        display: grid;
    grid-gap:10px ;
    
        grid-template-columns: 200px 200px 200px;
        grid-template-areas:
    "header  header  header"
        "sidebar content content"
        
        "footer  footer  footer";
        background-color:#ffffff;
        color: #444;
    }
.flex-container {
         display: flex;
         flex-direction: column;
         background-color:#fff;
         
margin:-5px;
         }
         .flex-container > div {
  background-color: #999;
 width:900px;
  margin: 5px;
  text-align: left;
  line-height:25px;
  
}
#foo{
    height: 70px;
  
     border-radius: 5px;
}
 #boo{
     height:350px;
      
 }
  

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  font-size: 150%;
}

.header,
.footer {
  background-color: #999;
  
}

.topleft {
  position: absolute;
  top: 0;
  left: 0;
}

.topright {
  position: absolute;
  top: 0;
  right: 0;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottomright {
  position: absolute;
  bottom: 10;
  right: 0;
}
.header{
         font-size:150%;
         font-family:serif;
 width:900px;
height:100px;

}
.content{
     width:690px;
     height:350px;
 }

h1{ 
    text-align:center;
    margin-top:20px;
}
h5{
    font-family:italic;
    font-size:20px;
    text-align:center;
     padding-top:10px;
}
p{
    text-align:center;
    font-family:italic;
    font-size:20px;
 }
#client-name{
    font-size:18px;
    height:25px;
}
#client-age{
    font-size:18px;
    height:25px;
}
#client-review{
    font-size:20px;
    width:700px;
    height:115px;
}




